<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meta Financeira</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light" style="padding-left: 10px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="font-size: 20px;">
        <i class="bi bi-calculator fs-1"></i>
        Calculadora de Meta Financeira
      </a>
    </div>
  </nav>

  <section>
    <div class="container">
      <h1>Qual a sua meta?</h1>
      <p>Use nosso aplicativo para definir suas metas e descubra em quanto tempo irá atingi-la.</p>
    </div>

    <div class="container" name="formulario_metas">
      <form method="post" action="{% url 'calcular' %}, {%csrf_token}">
       # {% csrf_token %}
        <div class="mb-3">
          <label for="objetivo" class="form-label">Qual a seu objetivo?</label>
          <input type="text" class="form-control" name="objetivo" id="objetivo">
        </div>
        <div class="mb-3">
          <label for="meta" class="form-label">Qual o valor necessário para este objetivo?</label>
          <input type="text" class="form-control" name="meta" id="meta">
        </div>
        <div class="mb-3">
          <label for="valorMensal" class="form-label">Qual o valor você pode guardar por mês?</label>
          <input type="text" class="form-control" name="valorMensal" id="valorMensal">
        </div>
        <button type="submit" class="btn btn-primary">Calcular</button>
      </form>
    </div>
  </section>
  <br />
  <section class="container">
    <h2>Resultado:</h2>

    <table class="table table-bordered">
      <thead>
        <tr class="table-secondary">
          <th>Descrição</th>
          <th>Valores</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Objetivo Final</td>
          <td>{n1}</td> #voltar para {{n1}}
        </tr>
        <tr>
          <td>Tempo estimado</td>
          <td>{{ resultado }} Meses</td>
        </tr>
        <tr>
          <td>Valor mensal</td>
          <td>{n2}</td> #{{n2}}
        </tr>
      </tbody>
    </table>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>


</html>
